get_helm.sh
helm-v3*
.idea
environnement/dev/minikube-linux-amd64/
.env
environnement/dev/argocd_password.txt
linux-amd64
LICENSE
.environnement/dev/argocd_password.txt

environnement/prod/terraform/.terraform/*
environnement/prod/terraform/.terrafor*
environnement/prod/terraform/terraform.tfstate
environnement/prod/terraform.tfstate
environnement/prod/terraform/terraform.tfstate.backup