apiVersion: v1
kind: Secret
metadata:
  name: postgres-crud-user-secret
  namespace: visiobook-namespace
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
  labels:
    app: postgres-crud
type: Opaque
stringData:
  # ===== CNPG bootstrap credentials (creates core_user database) =====
  username: "core_user_app"
  password: "CrudSecurePass123!"
  dbname: "core_user"

  # ===== Password for additional user (used in postInitSQL) =====
  project_password: "ProjectPass123!"

  # ===== Application connection (core-user-service) =====
  DATABASE_URL: "postgresql://core_user_app:CrudSecurePass123!@postgres-crud-rw.visiobook-namespace.svc.cluster.local:5432/core_user"
  DB_HOST: "postgres-crud-rw.visiobook-namespace.svc.cluster.local"
  DB_PORT: "5432"
  DB_NAME: "core_user"
  DB_USERNAME: "core_user_app"
  DB_PASSWORD: "CrudSecurePass123!"

  # RSA Private Key for JWT signing
  RSA_PRIVATE_KEY: |
    -----BEGIN PRIVATE KEY-----
    MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDiFtp9IuvMCS97
    ryXd2j4Y5fwm+lPWBfK+E90zUG4PIPG+gr0TBUN/E62+6lHCFJPzlW6I+OJTeTqk
    bGM/nepwTLmmuYs7DLjgrgq5FgF0NDF0YGjH/BIHkWVeOzqw4E/y29zlZL84bGaj
    vZ3tF19BL0XeViBz5uyzGMEqIYXWNkqgEpN5q8iFz5P7z0QmHxIu037dXusVY5f3
    tUUA9gQ2Fbj1Q8BfgVRQUiuYtMnethrx1/lpl9UPjYMSKl7djYI0eDp0wJ+ASR37
    wpIjghXQB9St8pBXHZEEm8891d06jHKabLqAhlOgvhrnublqXzNm7a8vcNW6WNVt
    zlyxYcGtAgMBAAECggEASUmXMZEsVktz9OflonCoSHHkts3Wdz4eXbcasROVWZoY
    QuUmXRALvRmn7IcQUZVSEFeUKRpkYyKc+8eWtHyADj8QvxbOJyoMk+hW2YBkoEJ6
    9Xp6/LidL47WCSGx+Lv9rn/Orx1lTuj0rIc+tigpXHvybgwFIQzuFXAkzX9oXvNG
    ZNZwVbfeJBKFocjfT32HhKv46OmZgyaATE6FvebyeS+4StZ/N8gw5NjMIiROkDj0
    USYSB55YPEMP3gwLNw0naLzm86nYU9FZnGAK3qZcTQfEzf88n2e2QhoyLwv4Khtf
    HV4GcYUQd9aQVnxlf5woBMul4KfC4xlLuIuOyBNiEQKBgQD1Y2UPu2zOYF1p+Lom
    /hGVKqMKH0dHH0UZSqc76xQvqsx+4aUtpkCQFMJmpKyivLwaKKqpJ5uBZCeO9Pq9
    pKy55xjpgbd/2Xd7EH0rg6n+7BaHwq8Tk+5e8jio/CT4kyCUbznST+dFcerXiBh3
    h34B1HOWVoBfgZxB5Cs/huTvZwKBgQDr3c54dkc4qi+TqrLE2Kd0/QNqnAgXG0hX
    Noprddf+F6vtKfOTkFY1TTs2JNriAUDacKZPXqlG3VgFjLnn2UoS5VlXyYY1IS7j
    xyXizt/QeY9tuSIZoKr1OB+2LB5q0qn8POAM4IQJ1Xh/OkO++E8+MIjpOGhMDwoy
    DSP3L/TdywKBgEluwSOAFwN7WvkHcc2RYnmdFMVGrvHdrbPv3zPTGWtaVW/y3pdW
    lSOI0tQcm3zntfKuEMQmEicabaweK5rs2LOZMJ9QLjWYQmUVfh+zev/KbsOZwwK8
    1iybl9EaA4ZPoQRKdKc3OiJSANEW7Rt39IFfrmdi42+xPa2KNlcAayopAoGAdc8d
    97EsNbNbfChAjm2ghqBxemhg6hmoclc9oBsGPVXZe+X+UXBAfvMKZirWYRg7KmAl
    0XL4nfqkonD90j4H75Q6ocx4ikT+xKqN09F8nQZ6i1VzINXNThowTK+Qqc57NQ+6
    4POrP7YuL24MtHAWNHvNhp+0CHlioElL84Uyiy0CgYBBpiGGubnEM2vrwSY61a38
    pLhVh0uGllvUB2udoETkTU94jUF/FpXYT86jfvEElRCXDaOe7MyixVogxmiSAAa0
    H8c+6TMlcQR26j5mQ/1E2uvM19/4vdg8Xh29VJ0wzq88y2jWF4juhf/NI9Hk2CTV
    /BN1aysI73EZBs/HOHrGpA==
    -----END PRIVATE KEY-----
