replicaCount: 1

image:
  repository: ghcr.io/visiobook-esp/content-ingestion-service-dev
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000
  targetPort: 8086

nameOverride: ""
fullnameOverride: "content-ingestion-service"

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 2
  targetCPUUtilizationPercentage: 80

serviceAccount:
  create: true
  annotations: {}
  name: ""

istio:
  enabled: true
  injection: true

  virtualService:
    enabled: true
    hosts:
      - "content-ingestion-service"
      - "content-ingestion-service.visiobook.dev"
    gateways:
      - mesh
  destinationRule:
    enabled: true
    trafficPolicy:
      connectionPool:
        tcp:
          maxConnections: 100
        http:
          http1MaxPendingRequests: 100
          http2MaxRequests: 100
          maxRequestsPerConnection: 2
      loadBalancer:
        simple: ROUND_ROBIN
      outlierDetection:
        consecutiveErrors: 5
        interval: 30s
        baseEjectionTime: 30s

  mtls:
    enabled: true
    mode: ISTIO_MUTUAL

nodeSelector: {}
tolerations: []
affinity: {}

podLabels:
  app: content-ingestion-service
  version: "latest"
  app.kubernetes.io/name: content-ingestion-service
  app.kubernetes.io/version: "latest"
  app.kubernetes.io/component: backend

resources: {}

env:
  env:
  SERVICE_NAME: core-user-service
  SERVICE_VERSION: 1.0.0
  ENV: prod
  PORT: 8080
  LOG_LEVEL: info
  DATABASE_URL: postgresql://postgres:password@postgres-core-user.database.svc.cluster.local:5432/visiobook_dev
  DATABASE_ECHO: false
  SECRET_KEY: blablablablalblalbla
  ALGORITHM: HS256
  ACCESS_TOKEN_EXPIRE_MINUTES: 30
  # CORS_ORIGINS: ["http://localhost:3000","http://localhost:8080"]

  # Configuration Python
  PYTHONPATH: /app
  PYTHONUNBUFFERED: 1