replicaCount: 1
name: mongo
image:
  repository: ghcr.io/visiobook-esp/mongo
  tag: 8
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: "mongodb"
fullnameOverride: "mongodb"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations:
  sidecar.istio.io/inject: "true"


podLabels:
  app: mongo
  version: "8"

podSecurityContext: {}

securityContext: {}

service:
  type: NodePort
  port: 27017

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []

resources: {}
livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []

volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

postgresql:
  auth:
    database: "visiobook_mongo_dev"
    username: "mongo"
    password: "password"

  persistence:
    enabled: true
    storageClass: ""
    size: "8Gi"
    accessModes:
      - ReadWriteOnce

istio:
  enabled: true
  injection: true
  connectionPool:
    maxConnections: 100
  mtls:
    enabled: true
    mode: ISTIO_MUTUAL
  gateway:
    enabled: true
    host: "mongo.local"