image:
  repository: ghcr.io/visiobook-esp/web-user-portal-dev
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  nodePort: 30084

networkPolicy:
  enabled: true

nameOverride: ""
fullnameOverride: "web-user-portal"

serviceAccount:
  create: true
  annotations: {}
  name: ""

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80

istio:
  enabled: true
  injection: true

  virtualService:
    enabled: true
    hosts:
      - "web-user-portal"
      - "web-user-portal.visiobook.dev"
    gateways:
      - mesh
  destinationRule:
    enabled: true
    trafficPolicy:
      connectionPool:
        tcp:
          maxConnections: 100
        http:
          http1MaxPendingRequests: 100
          http2MaxRequests: 100
          maxRequestsPerConnection: 2
      loadBalancer:
        simple: ROUND_ROBIN
      outlierDetection:
        consecutiveErrors: 5
        interval: 30s
        baseEjectionTime: 30s

  mtls:
    enabled: true
    mode: ISTIO_MUTUAL

nodeSelector: {}
tolerations: []
affinity: {}

podLabels:
  app: web-user-portal
  version: "latest"
  app.kubernetes.io/name: web-user-portal
  app.kubernetes.io/version: "latest"
  app.kubernetes.io/component: frontend

resources: {}

backend:
  namespace: backend
  services:
    coreProject:
      host: core-project-service.backend.svc.cluster.local
      port: 8080
    aiAnalysis:
      host: ai-analysis-service.backend.svc.cluster.local
      port: 8080
    supportStorage:
      host: support-storage-service.backend.svc.cluster.local
      port: 8080
    coreUser:
      host: core-user-service.backend.svc.cluster.local
      port: 8080