apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: core-user-service
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/VisioBook-ESP/infra-helm-charts
    targetRevision: 24-ci-poc-17-decembre
    # Changer le path en fonction de l'application et de l'environnement
    path: environnement/dev/charts/core-user-service
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: backend
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m