apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: postgresql-test
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/VisioBook-ESP/infra-helm-charts
    targetRevision: 23-Fichier-Conf-Argo-CUS-SSS
    # Changer le path en fonction de l'application et de l'environnement
    path: environnement/dev/charts/postgresql-db
    helm:
      valueFiles:
        - valuesTest.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: database
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m