apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: {{ .Values.syncWave | default "0" | quote }}
spec:
  instances: {{ .Values.instances }}
  inheritedMetadata:
    annotations:
      sidecar.istio.io/inject: "false"
  bootstrap:
    initdb:
      database: {{ .Values.database.name }}
      owner: {{ .Values.database.owner }}
      secret:
        name: {{ .Values.existingSecret }}
      {{- if .Values.postInitSQL }}
      postInitSQL:
        {{- range .Values.postInitSQL }}
        - {{ . | quote }}
        {{- end }}
      {{- end }}
  storage:
    size: {{ .Values.storage.size }}
  monitoring:
    enablePodMonitor: true
