apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Values.name }}
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  instances: {{ .Values.instances }}
  inheritedMetadata:
    annotations:
      sidecar.istio.io/inject: "false"
  bootstrap:
    initdb:
      database: {{ .Values.database.name }}
      owner: {{ .Values.database.owner }}
      secret:
        name: {{ .Values.existingSecret }}
  storage:
    size: {{ .Values.storage.size }}
  monitoring:
    enablePodMonitor: true
