{{- if .Values.pooler.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Pooler
metadata:
  name: {{ .Values.cluster.name }}-pooler
  labels:
    app: {{ .Values.cluster.name }}
spec:
  cluster:
    name: {{ .Values.cluster.name }}
  
  instances: {{ .Values.pooler.instances }}
  type: {{ .Values.pooler.type }}
  
  pgbouncer:
    poolMode: {{ .Values.pooler.pgbouncer.poolMode }}
    parameters:
      {{- range $key, $value := .Values.pooler.pgbouncer.parameters }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
  
  template:
    metadata:
      labels:
        app: {{ .Values.cluster.name }}-pooler
    spec:
      containers:
        - name: pgbouncer
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
{{- end }}