apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-superuser
  labels:
    app: {{ .Values.cluster.name }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.superuser.username }}
  {{- if .Values.superuser.password }}
  password: {{ .Values.superuser.password }}
  {{- else }}
  password: {{ randAlphaNum 32 }}
  {{- end }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app
  labels:
    app: {{ .Values.cluster.name }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.appUser.username }}
  {{- if .Values.appUser.password }}
  password: {{ .Values.appUser.password }}
  {{- else }}
  password: {{ randAlphaNum 32 }}
  {{- end }}
  {{- if .Values.appUser.databases }}
  dbname: {{ index .Values.appUser.databases 0 }}
  {{- end }}
  # Connection string for your services
  uri: postgresql://{{ .Values.appUser.username }}:$(kubectl get secret {{ .Values.cluster.name }}-app -o jsonpath='{.data.password}' | base64 -d)@{{ .Values.cluster.name }}-rw:5432/{{ index .Values.appUser.databases 0 }}