apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app-user
  annotations:
    argocd.argoproj.io/sync-wave: "1" 
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.database.user }}
  password: {{ .Values.database.password }}
