apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-superuser
  labels:
    app: {{ .Values.cluster.name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.superuser.username }}
  password: {{ .Values.superuser.password | default (randAlphaNum 32) }}

---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app
  labels:
    app: {{ .Values.cluster.name }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.appUser.username }}
  password: {{ .Values.appUser.password | default (randAlphaNum 32) }}