apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app-user
  namespace: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: {{ .Values.cluster.name }}
    component: postgresql-secret
type: Opaque
stringData:
  username: {{ .Values.database.user }}
  password: {{ .Values.database.password }}
  # CNPG nécessite aussi ces clés
  dbname: {{ .Values.database.name }}
  host: {{ .Values.cluster.name }}-rw.{{ .Values.namespace }}.svc.cluster.local
  port: "5432"