apiVersion: v1
kind: Secret
metadata:
  name: {{ include "pgsql.fullname" . }}
  labels:
    {{- include "pgsql.labels" . | nindent 4 }}
type: Opaque
stringData:
  password: {{ .Values.auth.password }}
