apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app-user
  namespace: {{ .Values.namespace }}  # ⚠️ AJOUTÉ
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque
stringData:
  username: {{ .Values.database.user }}
  password: {{ .Values.database.password }}