apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.cluster.name }}-app-user
  namespace: {{ .Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "1"
type: Opaque  # ⚠️ CHANGÉ : Opaque au lieu de basic-auth
stringData:
  username: {{ .Values.database.user }}
  password: {{ .Values.database.password }}