apiVersion: v1
kind: Service
metadata:
  name: {{ include "pgsql.fullname" . }}
  labels:
    {{- include "pgsql.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
  - port: {{ .Values.service.port }}
    targetPort: postgresql
    protocol: TCP
    name: postgresql
  selector:
    {{- include "pgsql.selectorLabels" . | nindent 4 }}
