apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis-db.fullname" . }}-config
  labels:
    {{- include "redis-db.labels" . | nindent 4 }}
data:
  redis.conf: |
    bind 0.0.0.0
    protected-mode no
    port 6379
    maxmemory 256mb
    maxmemory-policy allkeys-lru
    save 900 1
    save 300 10
    save 60 10000
    dbfilename dump.rdb
    dir /data
    appendonly yes
    appendfilename "appendonly.aof"
    appendfsync everysec
    loglevel notice