# Default values for calypso.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# This will set the replicaset count more information can be found here: https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/
replicaCount: 1
# This sets the container image more information can be found here: https://kubernetes.io/docs/concepts/containers/images/
# dddd
core-user-service: 
  loglevel: info # info warning fatal ...
  resources:
    limits:
      cpu: 500m
      memory: 256Mi
    requests:
      cpu: 100m
      memory: 128Mi
# This is for the secrets  for pulling an image from a private repository more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
imagePullSecrets: []
# This is to override the chart name.
nameOverride: ""
fullnameOverride: ""
# This section builds out the service account more information can be found here: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 80
# This block is for setting up the ingress for more information can be found here: https://kubernetes.io/docs/concepts/services-networking/ingress/

  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: calypso-integration.dsi.damgm.i2
      paths:
        # Backend API routes (must be listed BEFORE frontend catch-all)
        - path: /auth
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /dashboard
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /db-connection
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /execution
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /execution-data
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /folder
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /health
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /permission
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /permission-area
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /query
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /query-execution
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /query-tag
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /role-permissions
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /roles
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /sequence
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /sequence-execution
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /sql-linting
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /tag
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /ticket
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /user
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /user-role
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /user-workspace
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        - path: /workspace
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-backend
              port:
                number: 3000
        # Frontend catch-all (must be LAST)
        - path: /
          pathType: Prefix
          backend:
            service:
              name: calypso-integration-frontend
              port:
                number: 80
  tls:
    - secretName: tls-calypso
      hosts:
        - calypso-integration.dsi.damgm.i2
resources: {}
# We usually recommend not to specify default resources and to leave this as a conscious
# choice for the user. This also increases chances charts run on environments with little
# resources, such as Minikube. If you do want to specify resources, uncomment the following
# lines, adjust them as necessary, and remove the curly braces after 'resources:'.
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /health
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http
# This section is for setting up autoscaling more information can be found here: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  # targetMemoryUtilizationPercentage: 80
# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

nodeSelector: {}
tolerations: []
affinity: {}
