replicaCount: 1
name: redis
image:
  repository: redis
  pullPolicy: IfNotPresent
  tag: "7"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 6379
  targetPort: 6379

  nodePort:
    enabled: false
    port: 30379

ingress:
  enabled: false
  className: ""
  annotations: {}

  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []


resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 128Mi


livenessProbe:
  exec:
    command:
      - redis-cli
      - ping
    initialDelaySeconds: 30
    periodSeconds: 10
readinessProbe:
  exec:
    command:
      - redis-cli
      - ping
    initialDelaySeconds: 5
    periodSeconds: 10

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []


volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}

redis:
  persistence:
    enabled: true
    storageClass: ""
    size: "8Gi"
    accessModes:
      - ReadWriteOnce

isito:
  enabled: true
  injection: true

  gateway:
    enabled: true
    host: "redis.local"

  mtls:
    enabled: true
    mode: ISTIO_MUTUAL

  peerAuthentication:
    enabled: true
    mtlsMode: DISABLE

