apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ai-analysis-service.fullname" . }}
  labels:
    app: {{ include "ai-analysis-service.name" . }}
    version: {{ .Values.image.tag | quote }}
    {{- with .Values.podLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ include "ai-analysis-service.name" . }}
      version: {{ .Values.image.tag | quote }}
  template:
    metadata:
      labels:
        app: {{ include "ai-analysis-service.name" . }}
        version: {{ .Values.image.tag | quote }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      annotations:
        sidecar.istio.io/inject: "{{ .Values.istio.injection }}"
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 8083
              protocol: TCP
          env:
            {{- range $key, $value := .Values.env }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}