image:
  repository: ghcr.io/visiobook-esp/core-user-service-dev
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 80
  nodePort: 30081

istio:
  enabled: true


resources: {}
env:
  SERVICE_NAME: core-user-service
  SERVICE_VERSION: 1.0.0
  ENV: prod
  PORT: 8080
  LOG_LEVEL: info
  DATABASE_URL: postgresql://postgres:password@postgresql-db:5432/visiobook_dev
  DATABASE_ECHO: false
  SECRET_KEY: blablablablalblalbla
  ALGORITHM: HS256
  ACCESS_TOKEN_EXPIRE_MINUTES: 30
  # CORS_ORIGINS: ["http://localhost:3000","http://localhost:8080"]

  # Configuration Python
  PYTHONPATH: /app
  PYTHONUNBUFFERED: 1